:root{
    --primary:rgb(23, 195, 201);
    --secondary: rgb(124, 124, 124);
    --tertiary: rgb(34, 34, 34);
    --text: rgb(243, 243, 243);
}

.object-fit-contain{
    object-fit: cover;
}

.nav-text{
color: var(--primary);
font-family: 'Orbitron', sans-serif;
}

.hero-img{
    max-height: 100%;
    max-width: 80%;
  border: 1px solid rgba(13, 181, 211, 0.46);
  box-sizing: content-box;
  border-radius: 5px;

}

.accent-color{
    background-color: var(--secondary);
}

.main-color{
    background-color: var(--primary);
}

.color{
    background-color: var(--tertiary);
}

.text{
    color: var(--text);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.spill-img{
    background-image: url('https://th.bing.com/th/id/R.524bec983e6189accb7851854c2319d7?rik=wkxdc6lB6zucfw&pid=ImgRaw&r=0');
    backdrop-filter:blur(4px);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    width: 60vh;
    z-index: 2;
    bottom: -10em;
    right: -5em
}

.progress-bar{
    z-index: 1;
}

.outside-img{
    max-height: 70%;
    max-width: 65%;
   
}

.middle-img{
    max-height: 100%;
    max-width: 80%;
}

footer{
    color: var(--text);
}

.logo{
    height: 50px;
    width: 50px;
}

@media (max-width: 767px){
    .progress{
        display: none;
    }
    .spill-img{
        bottom: .75em;
        right: -.75em;
        content: center;

    }
}