:root{
    --primary:rgb(5, 161, 167);
    --text: rgb(243, 243, 243);
}
.hero-img{
    max-height: 100%;
    max-width: 80%;
}

.text{
    color: var(--text);
    text-align: center;
}

p{
    size: 16px;
}

.spill-img{
    background-image: url('https://www.wallpapertip.com/wmimgs/168-1683075_plain-orange-yellow-orange-gradient-colour-background.png');
    backdrop-filter:blur(3px);
    opacity: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

progress{
    color: var(--primary);
    bottom: -10px;
    z-index: 1;
}

.lower-img{
    max-height: 100%;
    max-width: 80%;
}

.outside-img{
    max-height: 50%;
    max-width: 50%;
}

.middle-img{
    max-height: 100%;
    max-width: 80%;
}