:root{
    --primary:rgb(23, 195, 201);
    --secondary: rgb(124, 124, 124);
    --tertiary: rgb(34, 34, 34);
    --text: rgb(243, 243, 243);
}

.object-fit-contain{
    object-fit: cover;
}

.nav-text{
color: var(--primary);
font-family: 'Orbitron', sans-serif;
}

.hidden-text{
    color: var(--primary);
    font-family: 'Orbitron', sans-serif;
    }

.hero-img{
    background-image: url('https://images.solecollector.com/complex/images/c_crop,h_1247,w_1754,x_374,y_123/c_fill,dpr_2.0,f_auto,fl_lossy,q_auto,w_680/uhdgakppjvvc2sxyykqd/nike-mag');
background-position: center;
}

.accent-color{
    background-color: var(--secondary);
}

.main-color{
    background-color: var(--primary);
}

.color{
    background-color: var(--tertiary);
}

.text{
    color: var(--text);
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.spill-img{
    background-image: url('https://th.bing.com/th/id/R.524bec983e6189accb7851854c2319d7?rik=wkxdc6lB6zucfw&pid=ImgRaw&r=0');
    backdrop-filter:blur(4px);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
}

.progress-bar{
    z-index: 1;
}

.outside-img{
    max-height: 70%;
    max-width: 65%;
   
}

.middle-img{
    max-height: 100%;
    max-width: 80%;
}

footer{
    color: var(--text);
}

.logo{
    height: 50px;
    width: 50px;
}

@media (min-width: 767px){

    .spill-img{
        height: 40vh;
        width: 60vh;
        z-index: 2;
        bottom: -10em;
        right: 0;
    }
}